
.footer {
    background-color: #283345;
    padding-top: 11.25rem;
    padding-bottom: 2.5rem;
}

.nav-link {
    color: #9399a2;
}

.footer h2{
    color: #ffffff;
    font-size: 1.125rem;
}

.footer-text {
    color: #9399a2;
    width: 70%;
    font-weight: 500;
}

li {
    margin: 0rem;
    text-decoration: none;
    list-style-type: none;
    font-weight: 500;
}

.icons-socialMedia {
    color: #9399a2; 
}

.icons-t:hover { 
    color: #ffffff;
}

/* Media queries */
/* Estilos para dispositivos móviles */

@media (max-width: 576px) {

    .footer {
        padding: 1.25rem;
    }

    .footer h2{
        padding-top: 4rem;
        color: #ffffff;
        font-size: 1.125rem;
    }
    
    .footer-text {
        color: #9399a2;
        width: 70%;
        font-size: 1rem;
    }

}

/* Estilos para tablets (small y medium) */
@media (min-width: 576px) and (max-width: 991.98px) {

   .footer-text {
       color: #9399a2;
       width: 100%;
       padding-bottom: 0.3125rem;
    }

    .icons-socialMedia {
        color: #9399a2; 
        margin-bottom: 1.5625rem;
    }
}
