
.footer {
    background-color: #283345;
    padding-top: 180px;
    padding-bottom: 40px;
}

.nav-link {
    color: #9399a2;
}

.footer h2{
    color: #ffffff;
    font-size: 18px;
}

.footer-text {
    color: #9399a2;
    width: 70%;
    font-weight: 500;
}

li {
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    font-weight: 500;
}

.icons-socialMedia {
    color: #9399a2;
    
}

/* Media queries */

@media screen and (max-width: 36rem) {

    .footer {
        padding: 20px;
    }

    .footer h2{
        padding-top: 4rem;
        color: #ffffff;
        font-size: 18px;
    }
    
    .footer-text {
        color: #848a95;
        width: 70%;
        font-size: 16px;
    }

}