
.footer {
    background-color: #283345;
    padding-top: 180px;
    padding-bottom: 40px;
}

.nav-link {
    color: #9399a2;
}

.footer h2{
    color: #ffffff;
    font-size: 18px;
}

.footer-text {
    color: #9399a2;
    width: 70%;
    font-weight: 500;
}

li {
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    font-weight: 500;
}

.icons-socialMedia {
    color: #9399a2; 
}


/* Media queries */
/* Estilos para dispositivos móviles */

@media (max-width: 576px) {

    .footer {
        padding: 20px;
    }

    .footer h2{
        padding-top: 4rem;
        color: #ffffff;
        font-size: 18px;
    }
    
    .footer-text {
        color: #9399a2;
        width: 70%;
        font-size: 16px;
    }

}

/* Estilos para tabletas (small y medium) */
@media (min-width: 576px) and (max-width: 991.98px) {

   .footer-text {
       color: #9399a2;
       width: 100%;
       padding-bottom: 5px;
    }

    .icons-socialMedia {
        color: #9399a2; 
        margin-bottom: 25px;
    }
}
