
header {
    background-color: #273345;
    color: #8e949e;
    
}


header {
    background-image: url(https://domo-test-demo.vercel.app/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fbackground.0968de3e.jpg&w=1920&q=75);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: auto 900px;
}

.hero-image-company {
    margin: 270px 0;
}

.navbar {
    padding: 1rem 0rem;
    font-size: 1rem;
    font-weight: 600;
}

.navbar-brand {
    color: #ffffff;
}

.navbar-nav .nav-link.active {
    color: #8e949e;
    display: flex;
    justify-content: center;
}

.navbar-nav .nav-link:hover {
    color: #ffffff; 
}

.navbar-brand:hover {
    color: #ffffff;
}

.image-core {
    display: block;
    position: relative;		
}

.main-title {
    color: #ffffff;
    font-size: 2.30rem;
    font-weight: 600;
}

.text-overlay {
    display: block;
   /* position: absolute;*/
    bottom: 240px;
    left: 0;
    width: 50%;
    font-size: 1.10rem;
    font-weight: 500;
}

.description-overlay {
    color: #8e949e;
}

.btn-main{
    font-weight: 600;
}

.services-title {
    color: #ffffff;
    font-weight: 600;
}

.services-text {
    color: #8e949e;
    width: 40%;
    text-align: center;
}

.card {
  transform: translateY(60px);
  transition: all 0.7s;
  padding: 2rem 0rem;
}


.card-text {
    color: #8e949e;
}

.b-text {
    color: #8e949e;
    border-color: 1px solid #8e949e;
}

/* Media queries */

@media screen and (max-width: 36rem) {

    .navbar-brand {
        color: #ffffff;
        font-size: 1rem;
    }

    .navbar {
        margin: 0rem auto;
        padding: 1rem;
        font-size: 1rem;
    }

    .navbar-nav .nav-link.active {
        color: #8e949e;
        font-size: 1rem;
    }

    .navbar-toggler {
        color: #8e949e;
        background-color: #ffffff;
    }

    .image-core {
        display: block;
        position: relative;		
    }
    
    .text-overlay {
        position: absolute;
        text-align: center;
        font-weight: 500;
        width: 100%;
        padding: 2rem 0.50rem;
        transform: translateY(20px);
        margin: 0rem auto;
    }
    
    .main-title {
        text-align: center;
        color: #ffffff;
        font-size: 1.20rem;
        font-weight: 700;
    }

    .description-overlay {
        color: #ffffff;
        font-size: 1rem;
    }

    .services-title {
        color: #ffffff;
        font-size: 1.10rem;
        font-weight: 600;
    }
    
    .services-text {
        color: #8e949e;
        width: 40%;
        text-align: center;
        font-size: 1rem;
    }    

    .card {
        width: 19rem;
        transform: translateY(60px);
        transition: all 0.7s;
        padding: 2rem 0rem;
        margin: 0rem auto;
      }   
      
      
    .card-text .card-title {
        font-size: 1rem;
    }  
    
}
