
header {
    background-color: #273345;
    color: #8e949e;
    
}

header {
    background-image: url(https://domo-test-demo.vercel.app/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fbackground.0968de3e.jpg&w=1920&q=75);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: auto 900px;
}

.hero-image-company {
    margin: 270px 0px;
}

.navbar {
    padding: 1rem 0rem;
    font-size: 1rem;
    font-weight: 600;
}

.navbar-brand {
    color: #ffffff;
}

.navbar-nav .nav-link.active {
    color: #8e949e;
}

.navbar-nav .nav-link:hover {
    color: #ffffff; 
}

.navbar-brand:hover {
    color: #ffffff;
}

.image-core {
    display: block;
    position: relative;		
}

.main-title {
    color: #ffffff;
    font-size: 2.30rem;
    font-weight: 600;
}

.text-overlay {
    display: block;
   /* position: absolute;*/
    bottom: 240px;
    left: 0;
    width: 50%;
    font-size: 1.10rem;
    font-weight: 500;
}

.description-overlay {
    color: #8e949e;
}

.btn-main{
    font-weight: 600;
}

.first-btn {
  margin-right: 1.40rem;
}

.arrow-right {
    font-size: 16px;
    font-weight: lighter;
}

.services-title {
    color: #ffffff;
    font-weight: 600;
}

.services-text {
    color: #8e949e;
    width: 40%;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    padding-top: 10px;
    line-height: 1.8;
    margin-bottom: 0rem;
}

.card {
  transform: translateY(60px);
  padding: 2rem 0rem;
  transition: all 0.1s ease-in-out; 
}

.card:hover {
  box-shadow: 0 0 20px rgba(0,0,0,0.6); 
}

.card-text {
  color: #8e949e;
}

.icons-services {
    color: white;
    background-color: #3871ff;
    width: 40px;
    height: 40px;
    padding: 16px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}

.b-text {
    color: #8e949e;
    border-color: 1px solid #8e949e;
}


/* Media queries */
/* Estilos para dispositivos móviles */

@media (max-width: 576px) {

    header {
        background-image: url(https://domo-test-demo.vercel.app/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fbackground.0968de3e.jpg&w=1920&q=75);
        background-repeat: no-repeat;
        background-position: top right;
        background-size: auto 500px;
    }

    .hero-image-company {
        margin: 270px 0px 120px;
    }

    .navbar-brand {
        color: #ffffff;
        font-size: 1rem;
    }

    .navbar {
        margin: 0rem auto;
        padding: 1rem;
        font-size: 1rem;
    }

    .navbar-nav .nav-link.active {
        color: #8e949e;
        font-size: 1rem;
    }

    .navbar-toggler {
        color: #8e949e;
        background-color: #ffffff;
    }
    
    .text-overlay {
        text-align: center;
        font-weight: 500;
        width: 100%;
        padding: 1rem 0.50rem;
        transform: translateY(2px);
        margin: 0rem auto;
    }
    
    .main-title {
        text-align: center;
        color: #ffffff;
        font-size: 1.40rem;
        font-weight: 600;
    }

    .description-overlay {
        color: #ffffff;
        font-size: 1rem;
        font-weight: 400;
    }

    .button-main {
      display: flex; 
      flex-direction: column;
      align-items: center;
    }

    .btn-main{
      font-weight: 400;
      width: 60%;
      margin: 0rem 0rem;
    }

    .first-btn {
      margin-right: 0rem;
    }
    

    .services-title {
        color: #ffffff;
        font-size: 1.20rem;
        font-weight: 600;
    }
    
    .services-text {
        color: #8e949e;
        width: 80%;
        text-align: center;
        font-size: 1rem;
        font-weight: 400;
    }    

    .card {
        transform: translateY(60px);
        transition: all 0.7s;
        padding: 2rem 0rem;
        margin: 0rem auto;
      }   
      
      
    .card-text .card-title {
        font-size: 1rem;
    }    
}


/* Estilos para tabletas (small y medium) */
@media (min-width: 576px) and (max-width: 991.98px) {

    .card {
        margin: 0rem auto;
    }

    .text-overlay {
        text-align: center;
        font-weight: 500;
        width: 100%;
        padding: 1rem 0.50rem;
        transform: translateY(2px);
        margin: 0rem auto;
    }
    
    .main-title {
        text-align: center;
        color: #ffffff;
        font-size: 1.80rem;
        font-weight: 600;
    }

    .description-overlay {
        color: #ffffff;
        font-size: 1.10rem;
    }

    .services-title {
        color: #ffffff;
        font-size: 1.40rem;
        font-weight: 600;
    }
    
    .services-text {
        color: #8e949e;
        width: 80%;
        text-align: center;
        font-size: 1.20rem;
        font-weight: 500;
    }    

}