.sponsors{
    text-transform: uppercase;
    text-align: center;
}

.sponsors-wrapper{
    margin-top: 80px;
    width: 100%;
    margin-bottom: 280px;
}

.sponsors img {
    width: 100%;
}

.sponsors-title {
    color: #7f7f7f;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
}

/* Media queries */

@media screen and (max-width: 36rem) {

    .sponsors img {
        padding: 0rem 0.50rem;
    }
}
