
.tools {
    background-color: #3871ff;
    min-height: 40rem;
    margin: 0rem;
    padding-top: 9rem;
    padding-bottom: 0rem;
}

.tools-title {
    color: #ffffff;
    font-size: 1.625rem;
    font-weight: 600;
    letter-spacing: 0.0625rem;
}

.tools-description {
    padding-top: 1rem;
    font-size: 1.25rem;
    color: #9bb8ff;
    padding-right: 30%;
    letter-spacing: 0.0625rem;
}

.icon-tools {
    color: #ffffff;
    font-size: 4rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    width: 5.625rem;
    height: 5.625rem;
}


/* Media queries */
/* Estilos para dispositivos móviles */
@media (max-width: 576px) {

    .tools-title {
        color: #ffffff;
        font-weight: 500;
        text-align: center;
        font-size: 1.20rem;
    }
    
    .tools-description {
        font-size: 1rem;
        font-weight: 400;
        color: #9bb8ff;
        text-align: center;
        padding: 0.50rem 0.40rem 1rem;
    }

    .tools-column {
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icon-tools {
        color: #ffffff;
        font-size: 4rem;
        padding-right: 3rem;
        width: 3.125rem;
        height: 3.125rem;
        padding: 1.25rem;
    }
}

/* Estilos para tablets (small y medium) */
@media (min-width: 576px) and (max-width: 991.98px) {

    .tools-title {
        color: #ffffff;
        font-size: 1.25rem;
        font-weight: 500;
        text-align: center;
    }
    
    .tools-description {
        font-size: 1.125rem;
        color: #9bb8ff;
        text-align: center;
        font-weight: 500;
        padding: 0.50rem 0.40rem 1rem;
    }


    .tools-column {
      padding: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 6.25rem;
    }

    .icon-tools {
      color: #ffffff;
      font-size: 4rem;
      padding-right: 3rem;
      width: 3.125rem;
      height: 3.125rem;
      padding: 1.25rem;
    }
}


