
.tools {
    background-color: #3871ff;
    min-height: 65vh;
    margin: 0px;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.tools-title {
    color: #ffffff;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 1px;
}

.tools-description {
    padding-top: 1rem;
    font-size: 20px;
    color: #9bb8ff;
    padding-right: 30%;
    letter-spacing: 1px;
}

.icon-tools {
    color: #ffffff;
    font-size: 4rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    width: 90px;
    height: 90px;
}

/* Media queries */
/* Estilos para dispositivos móviles */

@media (max-width: 576px) {

    .tools-title {
        color: #ffffff;
        font-weight: 500;
        text-align: center;
        font-size: 1.20rem;
    }
    
    .tools-description {
        font-size: 1rem;
        font-weight: 400;
        color: #9bb8ff;
        text-align: center;
        padding: 0.50rem 0.40rem 1rem;
    }

    .tools-column {
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icon-tools {
        color: #ffffff;
        font-size: 4rem;
        padding-right: 3rem;
        width: 50px;
        height: 50px;
        padding: 20px;
    }
}

/* Estilos para tabletas (small y medium) */
@media (min-width: 576px) and (max-width: 991.98px) {

    .tools-title {
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
    }
    
    .tools-description {
        font-size: 18px;
        color: #9bb8ff;
        text-align: center;
        font-weight: 500;
        padding: 0.50rem 0.40rem 1rem;
    }


    .tools-column {
      padding: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 100px;
    }

    .icon-tools {
      color: #ffffff;
      font-size: 4rem;
      padding-right: 3rem;
      width: 50px;
      height: 50px;
      padding: 20px;
    }
}


